## Range, Loop, Break and Continue statement.

Let's start with the Range Function.

What is range function ? 
* We can genrate a sequence of numbers using range() function; range(10) will generate numbers from 0 to 9 (10 numbers). 
* We can also define the starting number of range, which number to stop at, and the step size. 
* Its written in the form **(starting number, stop number, step size)** 
* To force the function to output all the items we can use the function **list()**

In [1]:
print(range(10))

range(0, 10)

In [2]:
#print range in list.

In [3]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

What if we wanted to generate numbers from 10 and its goes till 100 and the step size is 2.

In [4]:
print(list(range(10,101,2)))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [5]:
# In the above example, we use 101 if we want to stop at 100, because the function takes stop value-1 as the actual
# stop value

In [6]:
# Can we store range fuction in variable? Yes we can.

In [7]:
roll_num=list(range(10,50,1))

In [8]:
roll_num

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [9]:
# Lets see Reverse function with range fucntion.
# if we have to go backward in range function, what we will do?

In [10]:
reverse=list(range(1600,99,-100)) #Lets Remember we have to use - sign (minus) for going backward.

In [11]:
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100]

## Loop Function

Sometimes, we want to repeat a set of statements in our program. For instance, print 1 to 1000(with range function). Programming languages provide various control structures that allow for more complicated execution.


There are 2 types of loop:
* For loop 
* While loop
First we have to study about **For loop** 
For loop is used to iterate through sequences like list, tuple, or string [iterable]. The loop continues until we reach the last number or of item in sequence.

Syntax of range function- 

    for i in range(10):
    print(i)

In [12]:
location=["Korba","Bilaspur","Raipur","Patna","Siwan"]

In [13]:
location  #Lets use For loop method.

['Korba', 'Bilaspur', 'Raipur', 'Patna', 'Siwan']

In [14]:
for city in location:
    print(city)

Korba
Bilaspur
Raipur
Patna
Siwan

In [15]:
#lets apply for numbers

In [16]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]

In [17]:
for money in salary:
    print(money)

1000
2000
3000
5000
7000
1000
2000
9000

In [18]:
#Lets see anothe example of for loop with branching statement.

In [19]:
student_score=[78,98,65,45,89,87,32,65,54,98,89,78,69,58,47]

In [20]:
# In the above cell, we have created grades for student_score in above list.

In [21]:
for marks in student_score:
    if marks>90:
        if marks>85:
            print(marks , "Distiction")
        else :
            print(marks , "First class")
    elif marks >60 and marks<85 :
        print(marks ,"First class")
    elif marks>45:
        print(marks ,"Second class")
    elif marks >35:
        print(marks ,"Just Pass")
    else:
        print(marks ,"You have failed, please try next time")

78 First class
98 Distiction
65 First class
45 Just Pass
89 Second class
87 Second class
32 You have failed, please try next time
65 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class
47 Second class

## List comprehension 
List comprehension is of shorter syntax when you want to create a new list based on the values of the existing list.

Let's create a list.

In [22]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]
#then apply list comprehension.

In [23]:
sal=[val for val in salary if val==2000]

In [24]:
sal

[2000, 2000]

## For loop with Else statement

For loop has an optional else block. The else part is executed if the items in the sequence used in for loop exhaust. break statement can be used to stop a for loop, in such case the else part is ignored. 
Hence a for loop else part runs when not break method occurs.

In [25]:
#Print multiplication table with for loop with else.

In [26]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [27]:
#Lets see another way of print multiplication table.

In [28]:
num=int(input("Enter Number for which you want a table: "))

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number for which you want a table: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

### f string; Formatted String Literal
Let's see what is F string ? Formatted string literal. It is used for f-strings; can also be used to apply number 
formatting directly to the values.
Let's print multiplication table with f string.

In [29]:
num=int(input("Enter Number for which you want a table: "))

for i in range(1,11):
    print(f"{num}X{i}={num*i}") # We have to write varaibles in curly brackets and other is whithout curly brackets.

Enter Number for which you want a table: 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

## While loop
In while loop, first the condition is checked. If it evaluates to true, the body of the loop is executed, otherwise not.   
In the loop entered, the process of [conditon executed] is continued until the condition becomes false .

Python intrepret any non zero as True , None and zero are interpreted as False.

Syntax of while loop:

In [30]:
i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [31]:
#One More Example of While Loop.
#Lets say you have to set an alarm, how does it work?
#First we have to import time.

In [32]:
import time

In [33]:
result =time.localtime()

In [34]:
result

time.struct_time(tm_year=2024, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=54, tm_sec=14, tm_wday=0, tm_yday=302, tm_isdst=0)

In [35]:
# Now the time is shown, now we have to set an alarm. Let's see how we set an alarm with the help of while loop.

In [39]:
while True:
    result=time.localtime()
    if result.tm_hour==15 and result.tm_min==56:
        print(time)
        print("Wake up buddy")
        break

<module 'time' (built-in)>
Wake up buddy

## Enumerate
Enumerate() allows us to iterate through a sequence but it keeps track of both the index and the element.

In [40]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]

In [41]:
for i in enumerate(student):
    print(i)

(0, 'Saurav')
(1, 'Gaurav')
(2, 'Ramesh')
(3, 'Suresh')
(4, 'Mukesh')

In [42]:
#If we want to start numbering from our own number.
#we use same list.

In [43]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]

In [44]:
for i,name in enumerate(student,1):
    print(i,name)

1 Saurav
2 Gaurav
3 Ramesh
4 Suresh
5 Mukesh

## Zip
Zip method is used when we join two lists.

In [45]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]

In [46]:
student_details=list(zip(student_name,student_marks))

In [47]:
student_details

[('Ramesh', 54), ('Riya', 98), ('Yashu', 99), ('Rohit', 100), ('Amisha', 34)]

In [48]:
# How to Unzip?

# use * for unziping

In [49]:
name,marks=list(zip(*student_details))

In [50]:
name

('Ramesh', 'Riya', 'Yashu', 'Rohit', 'Amisha')

In [51]:
marks

(54, 98, 99, 100, 34)

In [52]:
# How we can do enumerate and zip in same time?

In [53]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]

In [54]:
for i,(name,marks) in enumerate(zip(student_name,student_marks),1):
    print(i,name,marks)

1 Ramesh 54
2 Riya 98
3 Yashu 99
4 Rohit 100
5 Amisha 34

## Break
The Break Statement used to terminate the loop, it is used in loop and switch case.
Keyword "break" used in Break Statement , control is tranferred outside.

In [55]:
salary=[8000,5000,6000,7000,3000]

In [56]:
for val in salary:
    if val==7000:
        break
    print(val)

8000
5000
6000

## Continue 
Continue statement is used to continue the next interation in the loop; its only used in loop, keyword "continue" is used for continue statement, control remains in the same loop.

In [57]:
salary=[8000,5000,6000,7000,3000]

In [58]:
for val in salary:
    if val==6000:
        continue
    print(val)

8000
5000
7000
3000

In [59]:
#Lets see how to use break and continue statements together.

In [60]:
for val in "Stringexample":
    if val == "i":
        continue
    else:
        if val=="x":
            break
        print(val)

S
t
r
n
g
e