## Complex Numbers
A complex number is the same as what we studied in school. We have real numbers and imaginary numbers , 
which can be denote as *i*.

example of complex number; 2+5i, But in python i is denoted with j

In [3]:
c=2+5j

In [4]:
type(c)

complex

In [5]:
#In data science, we don't use complex numbers.

## String

String is used when we use any alphabets or words in single, double and triple quotes.
Triple quote is also used for documentation.

In [7]:
a='Ram is hero'

In [8]:
a

'Ram is hero'

In [9]:
type(a)

str

In [10]:
#one more example

In [11]:
str1='python'
str2=' is a powerful'
str3=' language'

In [12]:
#how can we add str1, str2 and str2

In [13]:
print(str1+str2+str3)

python is a powerful language

In [14]:
#we can add directly without assigning a variable name to each string

In [15]:
print("saurav"+" is ex"," mining engineer")

saurav is ex  mining engineer

In [16]:
#other operation on string

In [17]:
print('  Day' *  5)  #(* use for multiplication)

  Day  Day  Day  Day  Day

In [18]:
print(' =' * 100)

 = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

In [19]:
# Try to add string & integer

In [20]:
print('Day' + 5)

TypeError: can only concatenate str (not "int") to str

In [21]:
# How can we concatenate string & integer ?
# we have to convert integer into string.

In [22]:
print('Day' + str(5))

Day5

## Data Structure.

Data structures can hold, store and save our data.

There are different different typre data structure
* List
* Tuple
* Set
* Dictionary

## List 

List is like a container which can hold our data, and list is always in square brackets []. It can accommodate all types of data.

**Lists are mutable**.
What is mutable ? 
Mutable means where we can edit(update,insert,add,count)our data.

In [25]:
#Create empty  list

In [26]:
lst=[]

In [27]:
lst

[]

In [28]:
type(lst)

list

In [29]:
#create proper list

In [30]:
lst=['a','b','c','d']

In [31]:
lst

['a', 'b', 'c', 'd']

In [32]:
#How to copy a list

In [33]:
l2=list(lst)

In [34]:
l2

['a', 'b', 'c', 'd']

In [35]:
#Differnt way to copy a list 
#Copy() Method

In [36]:
marks=[30,40,50,60]

In [37]:
copy_marks=marks.copy()

In [38]:
copy_marks

[30, 40, 50, 60]

In [39]:
# Another way to make list

In [40]:
list('saurav') # this method can separate all the elements.

['s', 'a', 'u', 'r', 'a', 'v']

In [41]:
#Lets Try with integer

In [42]:
list(8885) #integer object is not iterable

TypeError: 'int' object is not iterable

In [43]:
#Lets Try append menthod
#create an empty list and append data by usind append method.

In [44]:
l1=[]

In [45]:
l1.append('saurav')

In [46]:
l1

['saurav']

In [47]:
#add one more thing
l1.append('vicky')

In [48]:
l1

['saurav', 'vicky']

In [49]:
#add two item 
l1.append('yashu')
l1.append('shivangi')

In [50]:
l1

['saurav', 'vicky', 'yashu', 'shivangi']

In [52]:
#index and insert - Two arguments can be placed in insert method

#insert(index,insert) means, the index is where we have to add objects and meaning of insert is what object we have to store.

# an example

In [53]:
l1=['saurav','vicky','minakshi','Donald Trump','Imran khan']

In [54]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'Imran khan']

In [55]:
#now we will insert an element in the place of Imran Khan

In [56]:
l1.insert(4,'putin')

In [57]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'putin', 'Imran khan']

In [58]:
#one more example with numbers

In [59]:
l1=[11,22,33,44,55,66]

In [60]:
l1.insert(2,88)

In [61]:
l1

[11, 22, 88, 33, 44, 55, 66]

In [62]:
# more list methods - len()

# To check number of total elements in the list.

# lets create a list

In [63]:
l1=[44,55,66,99,77,88]

In [64]:
len(l1)

6

In [65]:
#Indexing and Slicing; always in square brackets[]
#creating a list

In [66]:
l1=['saurav','gaurav','lovely','advit']

In [67]:
l1[0]

'saurav'

In [68]:
l1[1]

'gaurav'

In [69]:
l1[2]

'lovely'

In [70]:
l1[3]

'advit'

In [71]:
#How to replace an object in list
#we have to replace advit by babu

In [72]:
l1[3]='Babu'

In [73]:
l1

['saurav', 'gaurav', 'lovely', 'Babu']

In [74]:
#Replace with Integer
#lets create a list with numbers

In [75]:
l1=[11,22,33,66,44,88,99,44]

In [76]:
#in l1, replace 66 with 1607

In [77]:
l1[3]=1607

In [78]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [79]:
# index 1 onwards in l1

In [80]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [81]:
l1[1:]

[22, 33, 1607, 44, 88, 99, 44]

In [82]:
l1[2:]

[33, 1607, 44, 88, 99, 44]

In [83]:
#see and understand

In [84]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [85]:
l1[1:7] # what is done here?

[22, 33, 1607, 44, 88, 99]

In [86]:
l1[:3]

[11, 22, 33]

In [87]:
#we also use "+" sign to concatenate list, just like we did for string

In [88]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [89]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [90]:
l1+[6622]

[11, 22, 33, 1607, 44, 88, 99, 44, 6622]

In [91]:
# this concatenate method does not change the list permanently.
# if you want to concatenate permanently you use different method

In [92]:
l1=l1+[5566]

In [93]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [94]:
#if you want to duplicate lists

In [95]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [96]:
l1 * 4 #like that

[11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566]

In [97]:
# if you want to decorate your code

# making a list and decorate

In [98]:
print('=' * 100)

print(l1)

print('=' * 100)   #like that

====================================================================================================
[11, 22, 33, 1607, 44, 88, 99, 44, 5566]
====================================================================================================

In [99]:
#if you double anything by using * method they dont double permanently

In [100]:
#Advanced List

#count method

# count method can show how many times an element has been repeated.

#create list with the name of marks

In [101]:
marks=[51,56,89,78,89,45,56,12,12,32,45,32,65,45,89,78,45,56,23,12,4,5,23,23,56,]

In [102]:
#we have to find how many times 23 has been repeated in the list.

In [103]:
marks.count(23)

3

In [104]:
marks.count(89)

3

In [105]:
# this will show only first element index if there are repeatitions.

In [106]:
#Extend Method.

#what is the the diffrences between extend and append method?

In [113]:
lst=['munmun','lovely']

In [114]:
lst

['munmun', 'lovely']

In [115]:
lst.append(['amisha','khushi'])

In [116]:
lst

['munmun', 'lovely', ['amisha', 'khushi']]

In [117]:
#that does not look like right .
#lets check with extend method

In [118]:
lst1=['munmun','lovely']

In [119]:
lst1

['munmun', 'lovely']

In [120]:
lst1.extend(['amisha','khushi'])

In [121]:
lst1

['munmun', 'lovely', 'amisha', 'khushi']

In [122]:
#similarly you can add integer elements as well; the concept is the same for any datatype.

In [123]:
#Pop method
#Pop method deletes the last index element from any list.
#lets see with example.

In [124]:
lst1=['Raj','Saurav','Garima','Riya','Gaurav','Ratnesh','Shailesh']

In [125]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh', 'Shailesh']

In [126]:
#what would we do if we had to delete "Shailesh" from our list.

In [127]:
pop_shailesh=lst1.pop()

In [128]:
pop_shailesh

'Shailesh'

In [129]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [130]:
#Delete based on index positon
#lets check

In [131]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [132]:
#we have to delete "Garima" From our list

In [133]:
pop_garima=lst1.pop(2)

In [134]:
pop_garima

'Garima'

In [135]:
lst1

['Raj', 'Saurav', 'Riya', 'Gaurav', 'Ratnesh']

In [136]:
#Remove method
#Remove method helps to delete element from our list.
#lets see with example

In [137]:
lst1=[12,33,66,55,44,77,88,99,11,22,33,44,55,66,77,88]

In [138]:
lst1.remove(55)

In [139]:
lst1

[12, 33, 66, 44, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88]

In [140]:
#Remove method only works with integer.
#and they can delete first element if there is any repeatition

In [141]:
#Reverse Method.

#Reverse method helps in to reverse show the all element in list.

In [142]:
lst1=[11,22,33,44,55,66,44,55,66,77,88,99]

In [143]:
lst1.reverse()

In [144]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [145]:
#Sort Method

#Sort method helps in arranging the elements in ascending and descending order.

In [146]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [147]:
lst1.sort()

In [148]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [149]:
#sort in descending order.

In [150]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [151]:
lst1.sort(reverse=True)

In [152]:
lst1

[99, 88, 77, 66, 66, 55, 55, 44, 44, 33, 22, 11]